/* - - - - RESET CSS - - - - */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

a img {
    border: none;
}

button,
a {
    cursor: pointer;
    color: inherit;
}

textarea {
    resize: none;
}

button,
input,
textarea,
select {
    appearance: none !important;
    border-radius: 0;
}

/* - - - - END RESET CSS - - - - */

.app-container {
    height: 100svh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background: radial-gradient(
            1200px 600px at 20% 20%,
            rgba(255, 255, 255, 0.6),
            transparent 60%
        ),
        radial-gradient(
            900px 500px at 80% 10%,
            rgba(255, 255, 255, 0.45),
            transparent 55%
        ),
        #eef1f7;
}

.app-header-bar {
    position: sticky;
    top: 0;
    z-index: 10;

    display: flex;
    align-items: center;
    gap: 14px;

    padding: 14px 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.43);

    box-shadow: 0 10px 26px rgba(20, 30, 50, 0.08);

    background: rgba(255, 255, 255, 0.53);
    backdrop-filter: blur(112px);
    -webkit-backdrop-filter: blur(12px);
}

.header-bamburger-button {
    width: 46px;
    height: 46px;
    border-radius: 50%;

    display: grid;
    place-items: center;

    border: 1px solid #ebebeb;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 10px 22px rgba(20, 30, 50, 0.08);

    cursor: pointer;
}

.header-search-input {
    flex: 1;
    height: 46px;
    width: 50%;
    min-width: 250px;

    padding: 0 16px;
    border: 5px solid #f7f4fc;
    border-radius: 46px;

    background: #ebeaf6;
    outline: 1px solid #ebebeb;

    font-size: 15px;
    transition: all 0.2s ease-in-out;
}

.header-search-input:focus {
    box-shadow: 0 0 10px 4px rgba(60, 120, 255, 0.12);
}

.footer-action-container {
    display: flex;
    align-items: center;
    gap: 18px;

    margin: 0 18px 18px 0;
    padding: 10px;
}

.footer-action-container > button {
    width: 52px;
    height: 52px;
    border: 1px solid #ebebeb;
    border-radius: 50%;
}

.footer-time-date-container {
    padding: 10px 14px;

    border: 2px solid transparent;
    background: linear-gradient(#eaeaf6, #e2e5f3) padding-box,
        linear-gradient(to bottom, #f4f4fb, #dadeed) border-box;
    box-shadow: 2px 2px 10px 4px rgba(60, 120, 255, 0.12);
    border-radius: 100px;

    color: #3c3c4c;
}

.footer-time {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
}

.footer-date {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

.footer-action-container .main-action-control-button {
    width: 59px;
    height: 59px;
    border: 2px solid transparent;
    background: linear-gradient(#eaeaf6, #e2e5f3) padding-box,
        linear-gradient(to bottom, #f4f4fb, #dadeed) border-box;
    box-shadow: 2px 2px 10px 4px rgba(60, 120, 255, 0.12);
    border-radius: 50%;
}

.notes-section {
    display: flex;
    gap: 20px;
}

.notes-section > form {
    width: fit-content;
    max-width: 200px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.note-box {
    max-width: 200px;
    width: fit-content;
    height: fit-content;

    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

    background-color: antiquewhite;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
