/* - - - - RESET CSS - - - - */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: "Montserrat", sans-serif;
    transition: all 0.2s ease-in-out !important;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

a img {
    border: none;
}

button,
a {
    cursor: pointer;
    color: inherit;
}

textarea {
    resize: none;
}

button,
input,
textarea,
select {
    appearance: none !important;
    border-radius: 0;
}

/* - - - - END RESET CSS - - - - */

.app-container {
    height: 100svh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background: radial-gradient(
            1200px 600px at 20% 20%,
            rgba(255, 255, 255, 0.6),
            transparent 60%
        ),
        radial-gradient(
            900px 500px at 80% 10%,
            rgba(255, 255, 255, 0.45),
            transparent 55%
        ),
        #eef1f7;
}

.app-header-bar {
    position: sticky;
    top: 0;
    z-index: 10;

    display: flex;
    align-items: center;
    gap: 14px;

    padding: 14px 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.43);

    box-shadow: 0 10px 26px rgba(20, 30, 50, 0.08);

    background: rgba(255, 255, 255, 0.53);
    backdrop-filter: blur(112px);
    -webkit-backdrop-filter: blur(12px);
}

.header-bamburger-button {
    width: 46px;
    height: 46px;
    border-radius: 50%;

    display: grid;
    place-items: center;

    border: 1px solid #ebebeb;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 10px 22px rgba(20, 30, 50, 0.08);

    cursor: pointer;
}

.header-search-input {
    flex: 1;
    height: 46px;
    width: 50%;
    min-width: 250px;

    padding: 0 16px;
    border: 5px solid #f7f4fc;
    border-radius: 46px;

    background: #ebeaf6;
    outline: 1px solid #ebebeb;

    font-size: 15px;
}

.add-new-note-button:hover,
.footer-action-container > button:hover,
.header-search-input:hover {
    box-shadow: 0 0 10px 4px rgba(60, 120, 255, 0.2);
}

.header-search-input:focus {
    box-shadow: 0 0 4px 4px rgba(60, 120, 255, 0.3);
}

.notes-section {
    display: flex;
    gap: 20px;
}

.new-note-form {
    position: fixed;
    bottom: 10px;
    right: 20px;

    width: fit-content;
    width: 300px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    padding: 20px;
    border: 2px solid #8bade0;
    border-radius: 14px;

    visibility: hidden;
    opacity: 0;
    background-color: #ffffff66;
    box-shadow: 2px 2px 10px 4px rgba(60, 120, 255, 0.2);
}

.new-note-form.open {
    bottom: 84px;
    visibility: visible;
    opacity: 1;
}

.new-note-title {
    width: 100%;
    field-sizing: content;

    padding-bottom: 15px;
    border-bottom: 1px solid #d6d6dc;

    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

.notes-texts-container {
    width: 100%;
    min-height: 44px;
    max-height: calc(100svh - 305px);
    overflow-y: auto;
}

.new-note-text {
    width: 100%;
    field-sizing: content;

    margin-bottom: 6px;
    padding: 5px 8px;
    border-radius: 5px;
    border: 1px solid #d6d6dc;

    font-size: 13px;
    line-height: 22px;

    background-color: #ffffff66;
}

.new-note-text:focus {
    box-shadow: 0 0 4px 4px rgba(60, 120, 255, 0.12);
}

.add-new-note-button {
    display: flex;
    gap: 8px;
    width: 100%;

    padding: 8px;
    border-radius: 20px;
    border: 1px solid #eae9f1;

    text-align: left;
    background-color: #ffffff66;
}

.add-new-note-button > div {
    display: inline-block;
    width: 18px;
    aspect-ratio: 1 / 1;

    border: 1px solid #8bade0;
    border-radius: 50%;

    text-align: center;

    background-color: #fff;
}

.done-button {
    position: absolute;
    bottom: 0;
    left: -50px;
    opacity: 0;

    width: 54px;
    height: 54px;

    border: 4px solid #fcfdfd;
    border-radius: 50%;

    background: linear-gradient(0deg, #4d8b69, #9fd06d);
    box-shadow: 2px 2px 10px 4px rgba(60, 120, 255, 0.2);

    z-index: -1;
}

.done-button.active {
    left: -70px;
    opacity: 1;
    z-index: 1;
}

.done-button svg {
    width: 1.4em;
    height: 1.4em;
    fill: #ffffff;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-action-container {
    display: flex;
    align-items: center;
    gap: 12px;

    margin: 0 10px 8px 0;
    padding: 10px;
}

.footer-action-container > button {
    width: 54px;
    height: 54px;
    border: 4px solid #fcfdfd;
    border-radius: 50%;
    box-shadow: 2px 2px 10px 4px rgba(60, 120, 255, 0.08);
}

.add-note-group-button {
    background: linear-gradient(0deg, #5287de, #a1d8fc);
}

.add-note-group-button.active {
    background: linear-gradient(0deg, #ff0000, #ff7373);
}

.add-note-group-button.active svg {
    transform: rotate(45deg);
}

.footer-action-container > button > svg {
    width: 1.4em;
    height: 1.4em;
    fill: #ffffff;
    transform: rotate(0deg);
}

.footer-time-date-container {
    padding: 10px 24px 10px 28px;

    border-radius: 100px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(112px);
    -webkit-backdrop-filter: blur(12px);

    box-shadow: 2px 2px 10px 4px rgba(60, 120, 255, 0.12);

    color: #3c3c4c;
}

.footer-time {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
}

.footer-date {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

.footer-action-container .main-action-control-button {
    width: 59px;
    height: 59px;
    border: 2px solid transparent;
    background: linear-gradient(#eaeaf6, #e2e5f3) padding-box,
        linear-gradient(to bottom, #f4f4fb, #dadeed) border-box;
    box-shadow: 2px 2px 10px 4px rgba(60, 120, 255, 0.12);
    border-radius: 50%;
}

.done-button:hover,
.footer-action-container > button:hover {
    transform: scale(1.05);
}
